Name: EvilScheme
Author: Lorenzo Pane
Maintainer: 0xkuj
Description: Manage default browser, navigation app, package manager, and more!
Package: net.pane.l.evilscheme
Replaces: com.lpane.browserdefault,com.lpane.googlemapsdefault
Architecture: iphoneos-arm
Section: Tweaks
Version: 19.07.2002
